body{
    margin: 0;
    font-family: Georgia serif;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: #b4bdec;
}
nav ul li{
    list-style: none;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    font-variant-caps: all-petite-caps;
    font-weight: 500;
}

#main{
    margin-left: 80px;
    margin-right: 80px;
}
#right >div{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    padding: 40px;
    background-color: #eaeaea;
    border: 5px dashed lightgray;
    border-radius: 8px;
}

#right >div h2{
    border-bottom: 2px solid #b4bdec;
}

footer{
    background-color: #b4bdec;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*float: right;*/
}
footer p{
    padding-top: 20px;
    padding-left: 70px;
    color: white;
    font-weight: 480;
}
.footer_nav ul{
    gap: 10px;
    padding-right: 70px;
}